{{extend 'layout.html'}}
<script>$("#page-header-extra").append("<h3>Further Development</h3>");</script>
<h3>  Additional funding is needed to continue our operational research. </h3>
<h4> Our Suggestions :  </h4>
<ol>
    <li><b>Development Period (1 month)</b> - Spatial interpolation of Drought Indices using IDW method (second interpolation step - krigring method) </li>
    <li><b>Development Period (1 month)</b> - Statistical analysis of Drought Index timeseries</li>
        <li><b>Development Period (2 month)</b> - Extreme Value Theory in Monthly Rainfall Datasets  - Return Period Estimation </li>
        <li><b>Development Period (1 month)</b> - Module creation for other Meteorological Services stations uploads
            <li><b>Development Period (2 month)</b> - Online monthly Evapotranspiration Empirical Equations (Thornwaite - Turk etc) </li>
    <li><b>Development Period (2 month)</b> - Stations Comparition Module for Rainfall, Temp and Drought Datasets Charts</li>
                <li><b>Development Period (3 month)</b> - Period Comparison using Statistical Methods (t -tests, normality tests, ANOVA, Box-plot anlysis) </li>
    <li><b>Development Period (3 month)</b> - ARIMA model for Drought Indices Predictions </li>
</ol>
<a href= "{{=URL('default','contact')}}" >Contact form </a>
